body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    height:200px;
    width:200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 20px;


}
.btn-container{
    display: flex;
    justify-content: center;
    
}
.red{
    background-color: #d95980;
}
.green{
    background-color: #63aac0;
}
.yellow{
    background-color: #f99b45;
}
.purple{
    background-color: #a059d9;
}
.flash{
    background-color: white ;
}
.userflash{
    background-color: green ;
}